In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_excel('datatest.xlsx')

In [4]:
data

             Date     Close      Open      High       Low
0    Nov 26, 2021  36157.80  37055.25  37093.75  36025.05
1    Nov 25, 2021  37364.75  37324.00  37538.70  37115.00
2    Nov 24, 2021  37465.00  37401.00  37895.50  37239.45
3    Nov 23, 2021  37284.30  36921.65  37474.95  36682.00
4    Nov 22, 2021  37182.10  38199.90  38214.10  36680.05
..            ...       ...       ...       ...       ...
511  Nov 07, 2019  30664.35  30801.00  30848.95  30463.00
512  Nov 06, 2019  30682.60  30260.30  30780.00  30052.00
513  Nov 05, 2019  30294.15  30420.05  30519.90  30155.10
514  Nov 04, 2019  30396.05  30457.95  30658.00  30267.00
515  Nov 01, 2019  30374.10  30200.05  30449.45  30063.10

[516 rows x 5 columns]

In [11]:
OpenequalsHigh = data.loc[(data['Open'])==(data['High'])]

In [12]:
OpenequalsHigh

             Date     Close      Open      High       Low
10   Nov 11, 2021  38686.10  39044.00  39044.00  38442.95
65   Aug 23, 2021  35159.20  35401.00  35401.00  34850.00
175  Mar 10, 2021  36007.75  36244.00  36244.00  35816.00
196  Feb 09, 2021  36045.95  36580.00  36580.00  35639.00
216  Jan 11, 2021  32096.25  32480.00  32480.00  31888.00
356  Jun 24, 2020  21400.60  22494.85  22494.85  21300.30
392  May 04, 2020  19632.75  20600.00  20600.00  19505.00
409  Apr 03, 2020  17175.80  18226.10  18226.10  17075.00
433  Feb 27, 2020  30187.00  30265.00  30265.00  29951.15
453  Jan 30, 2020  30647.40  31280.00  31280.00  30513.45
461  Jan 20, 2020  31181.85  31997.65  31997.65  31126.10
494  Dec 03, 2019  31711.20  31949.90  31949.90  31580.60

In [17]:
OpenequalsHigh.to_excel('OpenequalsHigh.xlsx')

In [18]:
OpenequalsLow = data.loc[(data['Open'])==(data['Low'])]

In [19]:
OpenequalsLow

             Date     Close      Open      High       Low
9    Nov 12, 2021  38871.35  38171.05  38948.95  38171.05
36   Oct 04, 2021  37735.25  37445.00  37785.00  37445.00
57   Sep 02, 2021  36969.25  36511.00  37033.85  36511.00
97   Jul 06, 2021  35677.40  35273.95  35925.00  35273.95
222  Jan 01, 2021  31309.35  31250.00  31425.00  31250.00
226  Dec 28, 2020  30928.30  30552.05  30975.40  30552.05
241  Dec 04, 2020  30190.95  29350.00  30276.95  29350.00
267  Oct 28, 2020  24214.25  23698.00  24795.00  23698.00
322  Aug 11, 2020  22296.35  21900.00  22345.00  21900.00
339  Jul 17, 2020  21971.10  21459.45  22081.00  21459.45
364  Jun 12, 2020  20624.50  19555.00  20728.00  19555.00
396  Apr 27, 2020  20107.10  19690.00  20240.00  19690.00
497  Nov 28, 2019  32122.95  31874.25  32143.30  31874.25

In [20]:
OpenequalsLow.to_excel('OpenequalsLow.xlsx')

In [21]:
data

             Date     Close      Open      High       Low
0    Nov 26, 2021  36157.80  37055.25  37093.75  36025.05
1    Nov 25, 2021  37364.75  37324.00  37538.70  37115.00
2    Nov 24, 2021  37465.00  37401.00  37895.50  37239.45
3    Nov 23, 2021  37284.30  36921.65  37474.95  36682.00
4    Nov 22, 2021  37182.10  38199.90  38214.10  36680.05
..            ...       ...       ...       ...       ...
511  Nov 07, 2019  30664.35  30801.00  30848.95  30463.00
512  Nov 06, 2019  30682.60  30260.30  30780.00  30052.00
513  Nov 05, 2019  30294.15  30420.05  30519.90  30155.10
514  Nov 04, 2019  30396.05  30457.95  30658.00  30267.00
515  Nov 01, 2019  30374.10  30200.05  30449.45  30063.10

[516 rows x 5 columns]

In [28]:
days = data.sort_values(by=['Date'],ascending=False)

In [29]:
days

             Date     Close      Open      High       Low
38   Sep 30, 2021  37425.10  37810.05  37913.15  37384.40
286  Sep 30, 2020  21464.25  21423.25  21580.60  21141.20
39   Sep 29, 2021  37878.50  37675.65  38048.85  37392.65
287  Sep 29, 2020  21450.20  21763.00  21839.80  21312.65
40   Sep 28, 2021  38044.15  38350.10  38377.00  37351.00
..            ...       ...       ...       ...       ...
159  Apr 06, 2021  32691.55  33021.00  33175.00  32461.65
160  Apr 05, 2021  32817.15  33925.00  33999.00  32412.00
409  Apr 03, 2020  17175.80  18226.10  18226.10  17075.00
161  Apr 01, 2021  34155.20  33693.00  34250.00  33390.05
410  Apr 01, 2020  18171.20  18900.00  18996.05  17962.65

[516 rows x 5 columns]

In [30]:
days.head(21)

             Date     Close      Open      High       Low
38   Sep 30, 2021  37425.10  37810.05  37913.15  37384.40
286  Sep 30, 2020  21464.25  21423.25  21580.60  21141.20
39   Sep 29, 2021  37878.50  37675.65  38048.85  37392.65
287  Sep 29, 2020  21450.20  21763.00  21839.80  21312.65
40   Sep 28, 2021  38044.15  38350.10  38377.00  37351.00
288  Sep 28, 2020  21724.50  21100.10  21765.90  21050.00
41   Sep 27, 2021  38224.80  37994.00  38395.60  37974.40
289  Sep 25, 2020  20979.15  20710.00  21089.00  20431.00
42   Sep 24, 2021  37854.30  38051.50  38174.90  37720.00
290  Sep 24, 2020  20456.85  20931.15  20979.80  20442.50
43   Sep 23, 2021  37861.05  37350.00  37910.20  37273.00
291  Sep 23, 2020  21240.35  21350.90  21383.65  20830.00
44   Sep 22, 2021  37100.30  37349.00  37440.00  36990.00
292  Sep 22, 2020  21183.65  21389.00  21516.65  20967.50
45   Sep 21, 2021  37370.50  37300.00  37435.00  36609.35
293  Sep 21, 2020  21390.90  22025.00  22125.00  21290.00
46   Sep 20, 2021  37224.25  37525.00  37885.00  37145.40
294  Sep 18, 2020  22078.40  22391.35  22520.00  21808.10
47   Sep 17, 2021  37850.05  37990.00  38224.70  37466.00
295  Sep 17, 2020  22391.95  22340.00  22560.05  22300.05
48   Sep 16, 2021  37780.20  37020.00  37855.65  36984.10

In [31]:
a = days.head(21)

In [32]:
a['Close'].mean()

29951.114285714288

In [33]:
b = days.head(50)

In [34]:
b

             Date     Close      Open      High       Low
38   Sep 30, 2021  37425.10  37810.05  37913.15  37384.40
286  Sep 30, 2020  21464.25  21423.25  21580.60  21141.20
39   Sep 29, 2021  37878.50  37675.65  38048.85  37392.65
287  Sep 29, 2020  21450.20  21763.00  21839.80  21312.65
40   Sep 28, 2021  38044.15  38350.10  38377.00  37351.00
288  Sep 28, 2020  21724.50  21100.10  21765.90  21050.00
41   Sep 27, 2021  38224.80  37994.00  38395.60  37974.40
289  Sep 25, 2020  20979.15  20710.00  21089.00  20431.00
42   Sep 24, 2021  37854.30  38051.50  38174.90  37720.00
290  Sep 24, 2020  20456.85  20931.15  20979.80  20442.50
43   Sep 23, 2021  37861.05  37350.00  37910.20  37273.00
291  Sep 23, 2020  21240.35  21350.90  21383.65  20830.00
44   Sep 22, 2021  37100.30  37349.00  37440.00  36990.00
292  Sep 22, 2020  21183.65  21389.00  21516.65  20967.50
45   Sep 21, 2021  37370.50  37300.00  37435.00  36609.35
293  Sep 21, 2020  21390.90  22025.00  22125.00  21290.00
46   Sep 20, 2021  37224.25  37525.00  37885.00  37145.40
294  Sep 18, 2020  22078.40  22391.35  22520.00  21808.10
47   Sep 17, 2021  37850.05  37990.00  38224.70  37466.00
295  Sep 17, 2020  22391.95  22340.00  22560.05  22300.05
48   Sep 16, 2021  37780.20  37020.00  37855.65  36984.10
296  Sep 16, 2020  22671.30  22538.00  22748.00  22280.00
49   Sep 15, 2021  36968.25  36761.10  37064.75  36590.35
297  Sep 15, 2020  22558.45  22195.00  22597.00  22084.05
50   Sep 14, 2021  36714.45  36701.00  36839.00  36616.20
298  Sep 14, 2020  22190.15  22664.35  22820.50  22105.00
51   Sep 13, 2021  36576.55  36730.60  36744.90  36412.00
299  Sep 11, 2020  22538.95  22450.55  22676.00  22226.00
300  Sep 10, 2020  22506.60  22485.00  22725.00  22253.45
52   Sep 09, 2021  36772.55  36725.25  36963.40  36651.00
301  Sep 09, 2020  22337.25  22500.00  22575.00  22128.95
53   Sep 08, 2021  36881.70  36619.00  36946.00  36502.00
302  Sep 08, 2020  22748.85  22900.00  23092.95  22655.00
54   Sep 07, 2021  36585.95  36700.05  36838.50  36251.20
303  Sep 07, 2020  22963.45  23016.35  23125.90  22721.00
55   Sep 06, 2021  36757.15  36995.00  37037.00  36690.05
304  Sep 04, 2020  23026.65  23300.00  23440.00  22853.90
56   Sep 03, 2021  36899.75  37038.95  37249.00  36670.05
305  Sep 03, 2020  23547.20  23938.80  24079.80  23452.95
57   Sep 02, 2021  36969.25  36511.00  37033.85  36511.00
306  Sep 02, 2020  23920.95  23855.00  23974.00  23500.90
58   Sep 01, 2021  36699.00  36625.05  37085.00  36558.00
307  Sep 01, 2020  23915.55  23850.00  24200.00  23508.00
265  Oct 30, 2020  23924.55  24049.95  24277.00  23565.00
18   Oct 29, 2021  39314.45  39644.95  39890.85  38606.90
266  Oct 29, 2020  24092.00  23999.70  24341.30  23791.00
19   Oct 28, 2021  39508.95  40877.00  40949.00  39476.00
267  Oct 28, 2020  24214.25  23698.00  24795.00  23698.00
20   Oct 27, 2021  40959.95  41305.00  41364.40  40840.40
268  Oct 27, 2020  24741.40  24311.00  24797.00  23894.85

In [35]:
b['Close'].mean()

29769.577999999998

In [36]:
a.to_excel('Last21days.xlsx')

In [37]:
b.to_excel('Last50days.xlsx')